*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

/* header styles */



.fa {
  width: 50px;
  height: 50px;
  align-content: center;
  color: gray ;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
}

.fa-search{
    color: white;
    padding: 0;
}

.fa:hover{
    background-color: #4e9525;
    color: white;
}
header{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0 80.5px;
    padding: 48px 0 24px 0;
}

.header-wrapper{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-div{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}
.right-div{
    justify-content: end;
}


.logo{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: bolder;
    line-height: 1;
    margin:0px 16px 30px 0px;
}

.logo span{
    color: #4e9525;
}

.search-input{
    padding: 6px 65px 6px 16px;
    border-radius: 40px ;
    height: 50px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    outline: none;
    background-color: rgba(128, 128, 128, 0.2);
    position: relative;
    width: calc(100% - 20px);
}

.search-btn{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: none;
    position: absolute;
    background-color: #4e9525;
    color: white;
    margin-left: -50px;
}


/* nav bar styles */

.responsive-navbar-container{
    width: 100%;
    background-color: #4e9525;
}


.navigation-btns-container{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.dark-navigation-btns-container{
    flex-direction: column;
    justify-content: space-between;
    background-color: #252525;
    padding: 20px;
    width: 100%;
    display: none;
}

.menu-list{
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin: auto;
    display: none;
}

.menu-list.active {
        display: flex; 
}


.dark-navigation-btns-container a{
    text-decoration: none;
    color: inherit;
}

.navigation-btns-container a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 24px 20px;
    position: relative;
}

.navigation-btns-container a::after{
    content: "";
    position: absolute;
    width: 0;
    background-color: #fbd341;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.navigation-btns-container a:hover{
    color: #fbd341;
}

.navigation-btns-container a:hover::after{
    width: 100%;
}

/* Hero section styles */

.hero-section{
    height: calc(100vh - 75px);
    width: 100%;
    background-image: url("../images/yard.jpg");
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.container{
    height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-content{
    width: 50%;
    animation: fadeInUp 1s;
}

.hero-content h2{
    color: #fbd341;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
}

.hero-content h1{
    color: white;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.2;
}

.learn-more{
    background-color: #4e9525;
    color: white;
    text-decoration: none;
    padding: 10px 20px ;
    margin-top: 20px;
    border-radius: 3px;
}

/* Services styles */

.service-flex{
    display: flex ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    padding: 112px;
}

.card{
    width:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    border-radius: 4px;
}

.cards-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.icon{
    width: 70px;
    height: 70px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 50px;
    margin-bottom: 3px;
}

.card h3{
    color: black;
}

.service-btn{
    height: 50px;
    width: 50px;
    background-color: #4e9525;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    position: absolute;
    bottom: -60px;
    align-content: center;
    visibility: hidden;
}

.quote-div{
    max-width: 300px;
    animation: fadeInUp 1s;
}

.quote-div h2{
    color: black;
    margin: 0 0 24px;
    font-size: 30px;
}

.quote-div p{
    margin: 0 0 16px;
    font-size: 16px;
}

.quote-div a{
    background-color: #4e9525;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 100px;
    padding: 16px 24px;
}

/* welcome section */

.welcome-container{
    margin: 100px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.side-image{
    width: 50vh;
    background-image: url(../images/yard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.1);
    position: relative;
}

.play-button{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    right: -35px;
    bottom: 35%;
    color: white;
    border: none;
    background-color: rgb(78, 149, 37);
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse{
0% {
    transform: scale(0.95);
    box-shadow: rgba(78, 149, 37, 0.7);
}

70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(278, 149, 37, 0);
}
100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(78, 149, 37, 0);
}

}

.welcome-content{
    width: 50vh;
    padding-top: 30px;
    animation: fadeInUp 1s;
    display: flex;
    flex-wrap: wrap;
}

.welcome-content div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome-section-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    color: black;
}

.go-btn{
    position: absolute;
    right: -30px;
    bottom: 0;
    height: 50px;
    width: 50px;
    background-color: #4e9525;
    border-radius: 50px;
    border: none;
    color: white;
}


.welcome-section{
    background-color: rgba(128, 128, 128, 0.1);
}


.season-card{
    width: 300px;
    text-align: center;
}

.season-card img{
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.season-card h3{
    color: black;
}
.carousel-container{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.tips-header{
    text-align: center;
    animation: fadeInUp 1s;
}

.testimonial-section{
    text-align: center;
    animation: fadeInUp 1s;
}

.slide-btns{
    text-align: center;
}

.slide-btns button{
    background-color: gray;
    border-radius: 50px;
    height: 10px;
    width: 10px;
}


.contact-section{
    background-color: #4e9525;

}

.contact-content h2{
    color: white;
    font-size: 34px;
}

.contact-content p{
    color: white;
    font-size: 16px;
}

.contact-number{
    color: #fbd341;
    overflow-wrap: break-word;
    font-size: 40px;
}

.wraper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 48px;
}


/* Testimonials section styles */

.testimonial-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.testimonial-card{
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px 40px;
}

.bio{
    display: flex;
    margin-top: 10px;
}

.bio img{
    border-radius: 50px;
    margin-right: 10px;
}

/* blog section styles */


.blog-section{
    background-color: rgba(128, 128, 128, 0.1);
    padding: 20px 0px 112px 0px;
    animation: fadeInUp 1s;
}

.cta{
    animation: fadeInUp 1s;
}

.blog-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.blog-card{
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
}

.blog-header{
    text-align: center;
}



.read-more-btn{
    width: fit-content;
    text-decoration: none;
    background-color: #4e9525;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
}

.blog-card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
}

.title{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}


.topper{
    position: absolute;
    top: 205px;
    left: 30px;
    background-color: #4e9525;
    width: 150px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.day{
    font-size: 44px;
    color: white;

}

.month, .year{
    font-size: 13px;
    color: #ffffb3;
}

.date{
    align-content: center;
}


.topper::after{
    content: "";
    border: 7px solid transparent;
    border-top: #4e9525 7px solid;
    position: absolute;
    top: 100%;
    left: 25%;
}

/* newsletter styles */

.newsletter-section{
    background-color: #4e9525;
}

.newsletter-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    animation: fadeInUp 1s;
}

.newsletter-container.show{
    animation: fadeInUp 1s;
}

.subscribe-btn{
    padding: 1px 16px;
    font-size: 16px;
    color: white;
    background-color: #2d5715;
    border: none;
    border-radius: 0 4px 4px 0;
}

.email{
    display: flex;
}

footer{
    background-color: #252525;
    align-items: center;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 48px 0;
    flex-wrap: wrap;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
}

.footer-logo{
    text-decoration: none;
    color: white;
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
}

.footer-logo span{
    color: #4e9525;
}

.footer-div{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.socialmedia-links{
    text-align: center;
    animation: fadeInUp 1s;
}

.footer-div h2{
    color: white;
}



.links{
    padding-left: 20px;
}

.links a{
    color: white;
    text-decoration: none;
}

.links a:hover{
    color: #4e9525;
}


.links ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    position: relative;
}

.links li{
    position: relative;
}
.links li:hover{
   color: #4e9525;
}

.links li:before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: -25px;
    border-right:2px solid rgb(255, 255, 255);
    border-bottom:2px solid rgb(255, 255, 255);
    width:5px;
    height:5px;
    transform: rotate(-45deg);
}


.contact-list{
    list-style-type: none;
    color: white;
}

.fa-map{

    color: white;
    background: none;
    padding: 0;
}

li .fa{
    color: white;
    padding: 0;
    margin: 0;
    background: none;
}

li .fa:hover{
    background: none;
}

.contact-hero-section{
    background-image: url("../images/yard.jpg");
    background-position: 50%;
    height: 30vh;
    background-size: cover;
}

.contact-title{
    background-color:rgba(37, 37, 37, 0.1);
    text-align: center;
    align-content: end;
    height: 100%;
    padding-bottom: 50px;
    color: white;
    animation: fadeInUp 1s;
}

.contact-title h1{
    font-size: 60px;
}

.contact-title a{
    text-decoration: none;
    color: white;
}

.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info{
    width: 250px;
    text-align: center;
}

.info i{
    padding: 0;
}

.contact-info{
    width: 100%;
    margin: auto;
}   

.contact-us-section{
    padding: 112px 0;
    background-color: rgba(128, 128, 128, 0.1)
}

.contact-image{
    width: 50vh;
    background-image: url("../images/yard.jpg");
    background-size: cover;
}



.content-div{
    padding: 48px;
    width: 50vh;
    background-color: white;
}

.content-div h1{
    color: black;
    font-weight: 500;
    padding-bottom: 20px;
}

.content-div p{
    padding-bottom: 10px;
}
label{
    text-transform: uppercase;
    color: #4e9525;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-group input{
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    outline: none;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.send-btn{
    background-color: #4e9525;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
}

textarea{
    border: 0;
    outline: none;
    font-size: 16px;
    font-family: inherit;
    color: inherit;
}

.card-wrapper{
    display: flex;
    justify-content: center;
    padding: 50px;
}



@media (min-width: 1024px) {
    
}
@media (max-width: 1024px) {
    
}
@media (max-width: 768px) {
    .navigation-btns-container{
        display: none;
    }
    .dark-navigation-btns-container{
        display: flex;
    }
   

}
@media (max-width: 320px) {
   .hero-content h1{
    font-size: 32px;
   }
   .hero-content p{
    font-size: 16px;
   }
   .container{
    padding: 0;
    justify-content: center;
   }
   .service-flex{
    padding: 0;
   }
   .subscribe-btn{
    padding: 0;
   }
   .go-btn{
    right: 0;
   }
   .play-button{
    display: none;
   }
   header{
    margin: 0;
    justify-content: center;
    gap: 10px;
   }
}


/* animations */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

