*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

/* header styles */



.fa {
  width: 50px;
  height: 50px;
  align-content: center;
  color: gray ;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  padding-left: 20px;
}

.fa-search{
    color: white;
    padding: 0;
}

.fa:hover{
    background-color: #4e9525;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 80.5px;
    padding: 48px 15px 24px;
}

.left-div{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-content: center;
}

.center-div a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: bolder;
    line-height: 1;
    margin:0px 16px 30px 0px;
}

.center-div span{
    color: #4e9525;
}

.search-input{
    padding: 6px 65px 6px 16px;
    border-radius: 40px ;
    height: 50px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    outline: none;
    background-color: rgba(128, 128, 128, 0.2);
    position: relative;
    width: calc(100% - 20px);
}

.search-btn{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: none;
    position: absolute;
    background-color: #4e9525;
    color: white;
    margin-left: -50px;
}


/* nav bar styles */

.responsive-navbar-container{
    background-color: #4e9525;
    width: 100%;

}
.menu-btn{
    display: none;
}

.navigation-btns-container{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navigation-btns-container a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 24px 20px;
    position: relative;
}

.navigation-btns-container a::after{
    content: "";
    position: absolute;
    width: 0;
    background-color: #fbd341;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.navigation-btns-container a:hover{
    color: #fbd341;
}

.navigation-btns-container a:hover::after{
    width: 100%;
}

/* Hero section styles */

.hero-section{
    height: calc(100vh - 75px);
    width: 100%;
    background-image: url("../images/yard.jpg");
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.container{
    height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-content{
    width: 50%;
}

.hero-content h2{
    color: #fbd341;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
}

.hero-content h1{
    color: white;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.2;
}

.learn-more{
    background-color: #4e9525;
    color: white;
    text-decoration: none;
    padding: 10px 20px ;
    margin-top: 20px;
    border-radius: 3px;
}

/* Services styles */

.service-flex{
    display: flex ;
    justify-content: space-evenly;
    gap: 40px;
    padding: 112px;
}

.card{
    width:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    border-radius: 4px;
}

.cards-div{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.icon{
    width: 70px;
    height: 70px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 50px;
    margin-bottom: 3px;
}

.card h3{
    color: black;
}

.service-btn{
    height: 50px;
    width: 50px;
    background-color: #4e9525;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    position: absolute;
    bottom: -60px;
    align-content: center;
    visibility: hidden;
}

.quote-div{
    max-width: 300px;
}

.quote-div h2{
    color: black;
    margin: 0 0 24px;
    font-size: 30px;
}

.quote-div p{
    margin: 0 0 16px;
    font-size: 16px;
}

.quote-div a{
    background-color: #4e9525;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 100px;
    padding: 16px 24px;
}

/* welcome section */

.welcome-container{
    margin: 0 200px;
    display: flex;
    justify-content: space-evenly;
}

.side-image{
    width: 50vh;
    background-image: url(../images/yard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.1);
    position: relative;
}

.play-button{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    right: -35px;
    bottom: 35%;
    color: white;
    border: none;
    background-color: rgb(78, 149, 37);
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse{
0% {
    transform: scale(0.95);
    box-shadow: rgba(78, 149, 37, 0.7);
}

70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(278, 149, 37, 0);
}
100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(78, 149, 37, 0);
}

}

.welcome-content{
    width: 50vh;
}

.welcome-content div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.welcome-section-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    color: black;
}

.go-btn{
    position: absolute;
    right: -30px;
    bottom: 0;
    height: 50px;
    width: 50px;
    background-color: #4e9525;
    border-radius: 50px;
    border: none;
    color: white;
}


